* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E8EAEE;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-all {
  width: 1136px;
  background-color: white;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  border-radius: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 36px;
}

.h1-card {
  font-size: 24px;
}

.phrase-card {
  font-size: 16px;
}

.img-card {
  width: 354px;
  height: 236px;
  border-radius: 12px;
}

.card {
  background-color: green;
}

input {
  background-color: #F2F4F8;
  border: none;
  width: 905px;
  height: 50px;
  border-radius: 15px;

  padding-left: 50px;

}

.container-input {
  display: flex;
  position: relative;
}

.img-search {
  position: absolute;

  top: 15px;
  left: 18px;
}

input::placeholder {
  color: #000000;
  font-weight: 500;
}

form {
  display: flex;
  gap: 10px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 15px;
  width: 169px;

}


